.popover-box {
    background-color: #2c2c2c;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    width: 250px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.action-button {
    background-color: #4CAF50; /* Change to your desired color */
    border: none;
    color: white; /* Change to your desired text color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .action-button:hover {
    background-color: #45a049; /* Change to a slightly darker shade of the original color for hover effect */
  }
  