/* VideoPlayer.css */
.video-player {
  position: relative;
  width: 960px; /* replace with your video's width */
  height: 465px; /* replace with your video's height */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(69, 69, 69); /* for debugging */
}

.video-player video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}