.navBar {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 0px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  
  .navBar ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
  }
  
  .navBar ul li {
    margin-right: 20px;
  }
  
  .navBar ul li a {
    color: white;
    text-decoration: none;
  }

  .active a {
    color: white; /* Adjust as needed */
    font-weight: bold;
    background-color: #0f4e7799; /* Highlight color */
    padding: 5px 10px; /* Add some padding around the text */
    border-radius: 0; /* Remove rounded corners */
    text-decoration: none; /* Remove underline */
  }
  